

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #141618;
    color: white;
}

.header {
    background-color: #0E1011;
    padding: 20px 30px;
    width: 100vw;
    display: grid;
    grid-template-columns: 18fr 1fr;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

.home_page_title {
    font-size: 2rem;
    font-weight: 700;
}

main {
    padding: 30px;
    width: 100vw;
    display: flex;
}

.events {
    width: 100%;
}
.event-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    background-color: #0E1011;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.event-main {
    width: 100%;
}

.event_title_main {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 20px;
    width: 100%;
}

.event-generic {
    padding: 15px;
    border: 1px solid #fff5;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #fff3 ;

}

.event_title {
    font-size: 1.1rem;
    font-weight: 600;
    display: block;
    margin: 8px 0;
}

.event_description {
    font: 0.8rem;
    color: rgba(255, 255, 255, 0.5);
    line-height: 22px;
}

.footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    background-color: #0E1011;
    text-align: center;
    padding: 40px;
}